
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    padding: 2rem;
    font-family: "Poppins", sans-serif;
}

h1{
    text-align: center;
    margin-bottom: 1rem;
}
img{
    width: 100%;
    height: auto;
}
.slider-container{
    position: relative;
}

.slider{
    position: relative;
    height: 350px;
    width: 100%;
    overflow: hidden;
}

.slide{
    position: absolute;
}
.nav{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}
.nav:hover{
    background: #000;
}
.nav.prev{
    left: 1rem;
}
.nav.next{
    right: 1rem;
}
.nav svg{
    fill: currentColor;
}